body{
    background-color: #ECECEC;
}

.navbar {
    background-color: #69A625;
}

#sobreNos{
    background-color: #EA8356;
}

#projetos{
    background-color: #3A90C3;
}

#fotos{
    background-color: #ECECEC;
}

#noticias{
    background-color: #69A625;
}