body{
    background-color: #ECECEC;
}

.navbar {
    background-color: #69A625;
    /* background-image: linear-gradient(#69A625, #69A625); */
}

#sobreNos{
    /* background-color: #EA8356; */
    background-image: linear-gradient(#EA8356, #3A90C3);
}

#proposta{
    /* background-color: #3A90C3; */
    background-image: linear-gradient(#3A90C3, #ECECEC);
}

#fotos{
    /* background-color: #ECECEC; */
    background-image: linear-gradient(#ECECEC, #69A625);
}

#noticias{
    /* background-color: #69A625; */
    background-image: linear-gradient(#69A625, #ECECEC);
}

p{
    font-size: 140%;
}

#comoChegar {
    /* background-color: #ECECEC; */
    background-image: linear-gradient(#ECECEC, lightgrey);
}

#rodape {
    background-color: lightgrey;
}


footer a{
    font-size: 50px;
}

