html{
    margin: 0px;
}

body{
    background-color: #ECECEC;
}

.navbar {
    background-color: #69A625;
    /* background-image: linear-gradient(#69A625, #69A625); */
}

#banner{
    height: 50vh;
}

.card{
    width: 18rem;
}

#sobreNos{
    /* background-color: #EA8356; */
    background-image: linear-gradient(#EA8356, #3A90C3);
}

#apoiadores{
    background-image: linear-gradient(#3A90C3, #ECECEC);
}

#proposta{
    /* background-color: #3A90C3; */
    background-image: linear-gradient(#ECECEC, #69A625);
}

#fotos{
    /* background-color: #ECECEC; */
    background-image: linear-gradient(#69A625, #ECECEC);
}

#noticias{
    /* background-color: #69A625; */
    background-image: linear-gradient(#ECECEC, #EA8356);
}

p{
    font-size: 140%;
}

#comoChegar {
    /* background-color: #ECECEC; */
    background-image: linear-gradient(#EA8356, #ECECEC);
}

#faleConosco {
    background-color: #ECECEC;
    /* background-image: linear-gradient(#ECECEC, #3A90C3); */
}



footer a{
    font-size: 50px;
}

.carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
  }
